---

---

<style>
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #333;
    border-radius: 16px;
    opacity: 0.4;
    margin: 16px;
  }
  html.dark a {
    color: black;
    background-color: #fff;
    opacity: 0.4;
    margin: 16px;
  }
</style>

<div>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>
